/* Style for body and general elements in our canvas */
html, body {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #f4f7f6;
    margin: 0;
}

#chat-input, #send-btn, #record-btn {
    height: 40px;
    display: inline-block;
}

@media (max-width: 600px) {
    #chat-container {
        width: 90%;
    }
}

#messages::-webkit-scrollbar {
    width: 8px;
}

#messages::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px;
}

#xr-button-container {
    position: absolute;
    left: 10%;
    bottom: 10%;
    opacity: 0.8;
    background: black; 
    border-radius: 15px; 
    z-index: 1000; 
}

/* TODO: Have a better colors or smthng like that */
#overlay-container {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#xr-button-microphone {
    padding: 15px 20px;
    background-color: #4CAF50; 
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 60px;
}

#xr-button-reset {
    padding: 15px 20px;
    background-color: #3574fd; 
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 60px;
}

#xr-button {
    display: block;
    width: 200px;
    height: 100px;
    max-width: 100%;
    border-radius: 10px;
    font-size: 200%;
}

.data-button {
    background-color: #333; 
    color: white;
    border: none;
    padding: 8px 16px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;

    width: 80%;
    height: 40%;
    box-sizing: border-box;  
    margin-bottom: 5px; 
}

.data-button:hover {
    background-color: #555;
}

.button-icon {
    width: 80%;
    height: 20px;
    margin-right: 10px; 
}

.data-button span {
    display: block;
    text-align: left;
}
